

<div class="searchparent">
 <label [ngClass]="{focusStyle: this.extraStyle}">Search: </label>
  <input type="text" class="search" (focus)="extraStyle=true" (focusout)="extraStyle=false" (keyup)="search()" [(ngModel)]="searchParams"/>
</div>
<table>
  <tr><th (click)="filter()">Name<i class="fa fa-filter"></i></th>
    <th>Email<i class="fa fa-filter"></i></th>
    <th>Phone<i class="fa fa-filter"></i></th></tr>

  <tr *ngFor="let contact of (contacts)"><td>{{contact.name}}</td><td>{{contact.email}}</td>
    <td>{{contact.phone}} <span class="delete" (click)="delContact(contact)">x</span></td></tr>

  <tr><td colspan="3" class="addContact" (click)="addContact()">Add Contact</td></tr>
</table>


<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>

<app-add-contact *ngFor="let thing of addContacts"></app-add-contact>
